body
{
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#cabecera
{
    background: dodgerblue;
    color: ghostwhite;
    margin: 0;
    padding: 0.5em;
    font-weight: 100;
}

#cabecera:hover {
    background-color: gold;
}


#container h1
{
    color: deeppink;
    font-size: 20px;
}
